.prev {
  display: flex;
  background-color: transparent;
  top: 130px;
  left: -80px;
  position: absolute;
}

.prev > span {
  padding: 10px;
}

@media (max-width: 550px) {
  .prev {
    left: 60px;
    top: 340px;
  }
}
